.page > .about
  margin: 50px auto
  width: 1000px

[data-popup]
  cursor: pointer

.hang-left
  float: left
  margin: 0 1em 0.5em 0

.zooniverse-dialog.about
  button[name="close-dialog"]
    height: 2em
    position: absolute
    right: 0
    top: 0
    width: 2em

  img
    max-width: 100%

.team-member
  display: inline-block
  height: 230px
  margin-right: 3%
  vertical-align: top
  width: 45%

  img
    float: left

  h4,
  p
    margin: 0 0 0 110px
