#about
  .panel
    panel()
    box-sizing border-box
    margin 70px auto
    padding 30px 40px
    width 1000px

    h2
      font-family: 'Open Sans Condensed'
      font-size: 32px
      font-weight: 700
      margin-bottom: 10px

    h3
      font-family: 'Open Sans'
      font-size: 18px
      font-weight: 700
      margin-top: 20px

    h4
      font-family: 'Open Sans'
      font-size: 12px
      font-weight: 700
      margin-bottom: 5px
      padding-top:20px

    p
      font-family:'Open Sans'
      font-size: 12px
      font-weight: 400
      line-height: 16px
      margin-bottom: 10px

    li
      font-family:'Open Sans'
      font-size: 12px
      font-weight: 600
      list-style-type: disc
      line-height: 18px
      margin-left: 30px

    ol
      margin-bottom: 10px

    .hang-left
      padding-bottom: 10px
      padding-right: 10px
      padding-top: 10px

    #about-team .institution
      clearfix()
      margin-top:25px
      margin-bottom:10px

      img
        float left
        margin-right 20px
