.about
  background-color: white
  min-height: 730px

  .about-header
    background-image: url(./images/about/about-header.png)
    width: 100%
    height: 200px

    .about-header-copy
      line-height: 36px
      padding: 40px 20px

      h1
        font-size: 48px

        @media screen and (max-width: 400px)
          font-size: 44px

      h3
        font-size: 18px
        font-weight: normal

        @media screen and (max-width: 450px)
          font-size: 16px
          line-height: 18px

    span
      font-size: 12px
      line-height: 28px
      color: rgba(255, 255, 255, 0.5)
      position: absolute
      top: 235px
      right: 10px

      @media screen and (max-width: 842px)
        top: 260px

      @media screen and (max-width: 400px)
        top: 290px

  #about-stack
    color: $dark-gray

    h2
      font-size: 24px
      line-height: 28px
      font-weight: bold
      font-style: italic
      margin: 0 auto 20px
      max-width: 940px;
      width: 100%;

    .about-top-header
      padding: 0 20px

    .about-non-italic-header
      font-size: 26px
      font-style: normal

    p
      font-size: 17px
      line-height: 28px
      margin: 0 0 14px
      -webkit-font-smoothing: antialiased
      -moz-osx-font-smoothing: grayscale

    #image-diagram
      text-align: center
      padding: 46px 0 55px

      img
        width: 100%
        max-width: 600px

    a
      @extends #_STANDARD_BUTTON
      color: white
      margin: 0 auto;

    .about-touch-padding
      @media screen and (max-width: 940px)
        padding: 0 20px 100px

    section
      padding: 82px 0px

      .about-container
        display: flex
        max-width: 940px
        margin: 0 auto

        div
          margin: auto 0;
          max-width: 600px

        .image-credit
          color:  #b9b8b8;
          font-size: 12px;

        @media screen and (max-width: 940px)
          padding: 0 20px

        @media screen and (max-width: 764px)
          display: block

      .about-col
        flex-direction: column

      img
        max-width: 300px
        width: 100%
        margin: 0 20px 0 0

        @media screen and (max-width: 764px)
          display: block
          margin: 0 auto
          padding: 20px 0

      &:nth-child(even)
        background-color: #f6f6f6

        img
          order: 2
          margin: 0 0 0 20px

          @media screen and (max-width: 764px)
            display: block
            margin: 0 auto
            padding: 20px 0

      &:nth-child(4)
        div
          max-width: 600px

    .about-content-padding
      padding-bottom: 100px


[data-popup]
  cursor: pointer

.hang-left
  float: left
  margin: 0 1em 0.5em 0

.zooniverse-dialog.about
  button[name="close-dialog"]
    height: 2em
    position: absolute
    right: 0
    top: 0
    width: 2em

  img
    max-width: 100%

.team-member
  display: inline-block
  margin: 0 3% 25px 0
  vertical-align: top
  width: 45%

  img
    float: left
    padding: 0 30px 10px 0

  h4,
  p
    margin: 0 0 0 110px

  @media screen and (max-width: 400px)
    width: 100%
