.bar-chart
  clearfix()
  font-size 11px
  position relative

  .axis
    position absolute

    &.x
      top 100%
      text-align center
      width 100%

    &.y
      height 100%
      right 100%

      .label
        transform(rotate(-90deg))
        transform-origin(0 100%)
        bottom 0
        left 0
        position absolute
        text-align center
        width 100px

  .item
    float left
    height 100px
    position relative
    width 4px
    margin-right 2px

    .bar
      background $black
      border-radius 2px
      bottom 0
      left 0
      position absolute
      width 100%

    .label
      display none
      position absolute
      top 100%

    &:hover
      .bar
        background $blue

      .label
        display block
