.bar-chart
  clearfix()
  font-size 11px
  position relative
  white-space nowrap

  .axis
    &.x
      display none
      text-align center

    &.y
      display inline-block
      height: 100px
      width: 10px
      position relative

      .label
        transform(rotate(-90deg))
        transform-origin(0 100%)
        bottom 0
        left 100%
        position absolute
        text-align center
        width 100px

  .item
    display inline-block
    height 100px
    position relative
    width 2px

    .bar
      background rgba($black, 0.5)
      bottom 0
      left 0
      position absolute
      width 100%

    .label
      background #ff6
      display none
      left -15px
      padding 2px 4px
      position absolute
      top 100%
      z-index 1

    &:hover,
    &.hover
      .bar
        background: rgba($black, 0.75)

      .label
        display block
