#classify
  bottom 0
  left 0
  position absolute
  right 0
  top 0

  > .leaflet-container
    bottom 0
    left 0
    position absolute
    right 0
    top 0

    .map-label
      color $white
      display inline-block
      font-size 12px
      position relative
      white-space nowrap

      &:before
        background $black
        border-radius 50%
        content: " "
        height 10px
        margin -5px 5px 0 0
        position absolute
        right 100%
        top 50%
        width 10px

  .classifier
    background $white
    border-radius 5px
    box-shadow 0 5px 10px rgba($black, 0.33)
    color $black
    position absolute
    right 7%
    top 3%
    width 550px

    img
      box-sizing border-box
      display block

    .main-pair
      clearfix()
      height 250px // Adjusted by script
      overflow hidden
      padding 20px 0 20px 20px
      position relative

      img
        float left
        height 250px
        position absolute
        width 250px

        &.subject
          z-index 1

        &.selected
          border 3px solid $greenish

      .point
        border: 2px solid transparent
        border-radius 50%
        height 7px
        margin -4px 0 0 -4px
        position absolute
        width 7px
        z-index 2

        &.center
          border-color $white

        &.red
          border-color $black

    .step
      border-top 1px solid $gray-light
      border-width 1px 0
      display none
      padding 0 20px
      text-align center

      p
        margin 20px 0

        & + .heading
          margin-top -10px

        &.heading
          font 20px/0.8 "Open Sans Condensed", sans-serif

          & + p
            margin-top -10px

      [data-popup]
        border-bottom 0

      button
        position relative
        vertical-align middle

        &[name="stronger"],
        &[name="category"],
        &[name="blue"]
          standard-button()

        // Image/swatch-style buttons
        &[name="match"],
        &[name="surrounding"],
        &[name="exceeding"],
        &[name="feature"]
          display inline-block
          margin 0 5px
          overflow hidden
          white-space nowrap

          img
            border-radius 3px
            height 30px
            width 30px

          &.selected img
            border 3px solid $greenish

        &[name="feature"] img
          height 60px
          width 60px

        // Category/match buttons
        &[name="category"]
          font-size 12px
          font-weight bold
          height 40px
          width 90px

          &.selected:before,
          &.selected:after
            border 10px solid transparent
            border-top 10px solid $white
            content " "
            left 50%
            margin 20px 0 0 -10px
            position absolute
            top 100%

          &.selected:before
            border-top-color $gray-dark
            margin-top 21px
            opacity 0.5

        &[name="category"],
        &[name="match"]
          float left
          margin 0 0 0 15px

          &:first-child
            margin-left 20px

        &[name="match"] img
          width 90px
          height 90px

      .help-ball
        standard-button()
        border-radius 50%
        font bold 14px/16px "Open Sans", sans-serif
        height 16px
        margin 0
        padding 0
        width 16px
        vertical-align top

      &.categories-and-matches
        padding-left 0
        padding-right 0

        .categories,
        .matches
          p
            clearfix()

        .categories
          z-index 1

        .matches
          background $gray-light
          box-shadow 0 3px 10px -3px $gray-dark inset
          overflow hidden

          p[data-category]
            display none

            &.selected
              display block

    .footer
      clearfix()
      border-top 1px solid $gray-light
      padding 15px 20px

      .progress
        float left
        height 26px
        width 33%

        .message
          font-size 10px
          font-weight bold
          margin-bottom 3px

        .series
          .track
            background $gray
            border-radius 3px
            box-shadow 0 1px 1px $gray-dark inset
            height 5px
            overflow hidden
            position relative

            .fill
              transition(width 1s ease-in-out)
              background $orange
              height 100%
              left 0
              position absolute
              top 0
              width 100%

      .action
        float right
        font-size: 13px

        button
          standard-button()

          &[name="pro-classify"],
          &[name="next-subject"]
            display none

    // Reveal the appropriate step.
    &[data-step="stronger"] .stronger,
    &[data-step="match"] .categories-and-matches,
    &[data-step="center"] .center,
    &[data-step="surrounding"] .surrounding,
    &[data-step="exceeding"] .exceeding,
    &[data-step="feature"] .feature,
    &[data-step="blue"] .blue,
    &[data-step="red"] .red,
    &[data-step="reveal"] .reveal
      display block

    &[data-step="reveal"] .main-pair
      display none

    // Reveal the appropriate buttons.
    &[data-step="match"] .footer .action button
      &[name="pro-classify"]
        display inline-block

    &[data-step="match"],
    &[data-step="feature"],
    &[data-step="blue"],
    &[data-step="red"],
    &[data-step="reveal"]
      .footer .action button
        &[name="next-subject"]
          display inline-block

        &[name="continue"]
          display none
