$eye-wall-diameters = 15 30 50 80 120

km-to-px(km, scale = (318 / 600))
  deg = (km / 111.12)
  unit((deg / 0.02337) * scale, px)

@keyframes classify-loading
  0%
    background-color: rgba($blue, 0.25)

  100%
    background-color: rgba($blue, 0)

.page > .classify
  $min-top = 40px

  position: relative

  .controls
    background: #eee
    box-shadow: 0 2px 4px -1px rgba(#000, 0.5)
    color: #000
    margin-left: 20px
    text-align: center
    text-shadow: 0 1px #fff
    width: 640px

    .subject
      background-image: linear-gradient(bottom, rgba(#000, 0.25), rgba(#000, 0), transparent)
      cursor: crosshair
      overflow: hidden
      padding: 2px
      position: relative

      button[name="restart"]
        border: 0
        bottom: 10px
        box-shadow: none
        font-size: 10px
        position: absolute
        left: 40px
        line-height: 1

        > .icon
          display: block
          font-size: 30px
          font-weight: lighter

        > .label
          display: block

        &:hover
          color: #900

      img
        border: 2px solid transparent
        box-sizing: border-box
        display: block
        height: 318px
        margin: 0 auto
        position: relative
        width: 318px
        z-index: 1

        &.older
          display: none

      svg
        z-index: 2

    button
      border: 1px solid #999
      box-shadow:
        0 1px 0px #fff inset,
        0 1px 0px #fff
      font-weight: bold
      padding: 5px 20px

      &:active,
      &.active
        background: #ccc
        box-shadow:
          0 2px 3px rgba(#000, 0.25) inset,
          0 1px 0px #fff
        text-shadow: none

      img
        display: block

      .swatch
        background: gray
        box-shadow: 0 1px 1px rgba(#000, 0.25)
        display: block
        height: 30px
        letter-spacing: -10em
        overflow: hidden
        text-indent: -10em
        width: 30px

        &.beige
          background: rgb(183, 153, 153)

        &.red
          background: rgb(160, 35, 35)

        &.orange
          background: rgb(255, 110, 0)

        &.yellow
          background: rgb(255, 225, 50)

        &.light-blue
          background: rgb(160, 210, 255)

        &.teal
          background: rgb(0, 191, 255)

        &.blue
          background: rgb(65, 105, 225)

        &.dark-blue
          background: rgb(0, 0, 150)

        &.white
          background: rgb(255, 255, 255)

      &[name="eye"]
        height: 50px
        width: 50px

      .circle
        background: rgba(#fff, 0.1)
        border: 1px solid #000
        border-radius: 50%
        display: inline-block
        overflow: hidden
        letter-spacing: -10em
        text-indent: -10em
        vertical-align: middle


        for km in $eye-wall-diameters
          &.d{km}
            $diameter = km-to-px(km)
            height $diameter
            width $diameter
            // margin ($diameter / -2) 0 0 ($diameter / -2)

    .step-controls
      border-bottom: 1px solid #ccc
      border-top: 1px solid #fff
      position: relative

      button
        padding: 5px // For swatch/image buttons (the majority of buttons here)

      .stronger.step
        button
          background: #eee
          border: 2px solid transparent
          box-shadow: 0 1px 1px #000
          padding: 5px 20px
          left: 220px
          position: absolute
          top: -170px

          &.active
            border-color: black

      .matches.step
        overflow: hidden

        ul
          clearfix()
          margin: 0
          padding: 0

          li
            display: block
            float: left
            width: 20%

            button
              display: block
              font-size: 12px
              font-weight: bold
              line-height: 1
              width: 100%

        .categories
          ul
            border-top: 1px solid #ccc

            button
              border: 1px solid #ccc
              border-bottom: 0
              border-left-color: #fff
              border-top: 0
              box-shadow: 0 1px 0 #fff inset
              height: 45px
              position: relative

              &.active
                background: #ccc
                border-left-color: #bbb
                box-shadow: 0 1px 10px #999 inset
                color: inherit

                &:after
                  border: 15px solid transparent
                  border-bottom: 0
                  border-top-color: #ccc
                  content: ""
                  height: 0
                  left: 50%
                  margin: -7px 0 0 -15px
                  position: absolute
                  top: 100%
                  width: 0

        [data-category]
          background: #ccc
          box-shadow: 0 3px 10px rgba(#000, 0.33) inset
          display: none
          padding: 5px

          &.active
            display: block

          button
            border: 5px solid transparent
            box-shadow: none
            padding: 0
            position: relative

            &.active
              border-color: #fff
              box-shadow: 0 1px 3px rgba(#000, 0.25)

            img
              box-shadow: 0 1px 3px rgba(#000, 0.25)
              display: block

            .caption
              background: rgba(#fff, 0.75)
              bottom: 10px
              left: 10px
              position: absolute
              right: 10px
              text-align: center

    .progress
      border-bottom: 1px solid #ccc
      border-top: 1px solid #fff

      .in-progress
        padding: 10px

      .followup
        display: none
        overflow: hidden

        .talk
        .social
          width: 30%

          a
            border: 0
            color: inherit
            display: block
            font-size: 12px
            margin: 5px
            padding: 3px 10px
            text-decoration: underline

            &:hover
              color: inherit

        .talk
          float: left

        .social
          float: right

        button[name="next"]
          margin-top: 15px
          width: 25%

  &.loading .controls .subject
    animation: 1s classify-loading ease-in-out infinite alternate

  // The "stronger" step gets side-by-side subject images.
  &[data-step="stronger"] .controls .subject img
    cursor: pointer
    float: left
    margin: 0

    &.older
      display: block

    &.active
      border-color: #000

  &[data-step="reveal"] .controls .progress
    .in-progress
      display: none

    .followup
      display: block

  .not-signed-in
    margin-left: 20px
    width: 640px

    .sign-in,
    .sign-up
      cursor: pointer
      text-decoration: underline

  &.southern .controls button img
    -ms-filter:  "FlipH"
    filter: FlipH
    transform: scaleX(-1)

  &.signed-in .not-signed-in
    display: none

  .step-details
    bottom: 0
    left: 660px
    padding: 30px
    position: absolute
    right: 0
    top: $min-top

    @media (max-width: 1000px)
      &
        position: static

    hr
      clear: left

    table
      width: 100%

    td
      vertical-align: top
      width: 1%

      h3
        margin-top: 0

      img
        max-width: 1000%
        width: 100px

    .example
      display: block
      float: left
      margin: 0 10px 10px 0
      width: 250px

    img
      max-width: 100%

    .map,
    .graph
      box-shadow: 0 2px 4px -1px rgba(#000, 0.5)
      color: #000
      height: 360px

    .highcharts-container
      background: #fff
      margin-bottom: 40px
      padding-top: 40px

.tutorial
  text-shadow: none
  width: 470px

  .progress .steps
    display: none

.zootorial-blocker
  opacity: 0.01
