$blacker = #070e17
$black = #002736
$white = #fcfcfc

$gray-light = #efefef
$gray = #cfcfcf
$gray-dark = #9e9e9e

$orange = #f16109
$greenish = #c1ea00
$blue = #0097ce

// Temperatures from satellite imagery
$coldest  = rgb(255, 255, 255)
$colder   = rgb(0,   0,   150)
$cold     = rgb(0,   191, 255)
$coldish  = rgb(65,  105, 225)
$moderate = rgb(160, 210, 255)
$warmish  = rgb(255, 225, 50)
$warm     = rgb(255, 110, 0)
$warmer   = rgb(160, 35,  35)
$warmest  = rgb(183, 153, 153)

$tb-background = #f7f7f7
$tb-text-color = #000
