// Button reset
button
  appearance(none)
  background transparent
  border 0
  cursor pointer
  margin 0
  padding 0

  &::-moz-focus-inner
    border 0
    padding 0

  &:disabled
    cursor default
    pointer-events none

standard-button()
  // Note: .toggle, .toggle.on, .default
  background $gray-light
  border 1px solid rgba($blacker, 0.33)
  border-radius 0.33em
  box-shadow 0 0.67em 0.67em rgba($white, 0.33) inset, 0 -0.5em 0.5em rgba($blacker, 0.125) inset, 0 0.125ex 0.25ex rgba($blacker, 0.33)
  color $black
  display inline-block
  font-family "Open Sans", sans-serif
  font-size inherit
  line-height 1
  margin-left 0.75em
  padding 0.5em 2em
  text-decoration none
  text-shadow 0 0.125ex $white
  vertical-align middle

  &:first-child
    margin-left 0

  &:hover
    border-color rgba($black, 0.5)

  &.toggle.on
    color $orange

  &.default
    background $blue
    color $white
    text-shadow 0 0.125ex rgba($black, 0.5)

    &:hover
      border-color rgba($black, 0.75)

  &.toggle.on,
  &:active
    box-shadow 0 0.125ex 0.25ex rgba($blacker, 0.5) inset

  &:disabled
    box-shadow none
    opacity 0.5
