$blue = #027da9
$orange = #ff8400
$navy = #00305c
$green = #3A9C5B
$dark-gray = #565555

$sans-serif = "Lato", Arial, sans-serif

p
  font-size: 17px
  line-height: 28px
  margin: 0 0 14px
  -webkit-font-smoothing: antialiased
  -moz-osx-font-smoothing: grayscale

.font-smoothing
  -webkit-font-smoothing: antialiased
  -moz-osx-font-smoothing: grayscale

.center
  text-align: center

li
  line-height: 1.5em

.content
  margin: 0 auto
  max-width: 940px
  width: 100%;

.sub-section-menu
  list-style: none
  padding: 40px 10px
  margin: 0
  clearfix()

  li
    float: left
    margin: 10px 0

    a
      color: $dark-gray
      border-radius: 15px
      box-sizing: border-box
      margin: 0 10px 0 0
      padding: 6px 18px
      border: 2px solid transparent
      font-size: 17px

      &:hover, &.active
        border: 2px solid $orange

    @media screen and (max-width: 400px)
      clear: left

#_STANDARD_BUTTON
  background: $navy
  border-radius: 4px
  display: inline-block
  font-family: "Lato", sans-serif
  outline: none
  margin: 0 2px
  padding: 14px 30px
  text-align: center
  text-decoration: none

  &:hover
    background: lighten($navy, 10%)
    color: white

  &.orange
    background: $orange
    color: white

#_CLASSIFIER_BUTTON
  border: none
  display: inline-block
  outline: none
  color: #fff
  height: 45px
  outline: none
  border-radius: 5px
  background-color: $orange
  box-shadow: none
  position: relative

.zooniverse-dialog .underlay .container .dialog
  @media screen and (max-width: 400px)
    max-width: 66%
