// Button reset
button
  appearance(none)
  background transparent
  border 0
  cursor pointer
  margin 0
  padding 0

  &::-moz-focus-inner
    border 0
    padding 0

  &:disabled
    pointer-events none

standard-button()
  // Note: .toggle, .toggle.on, .default
  background $gray-light
  border 1px solid rgba($black, 0.33)
  border-radius 3px
  box-shadow 0 10px 10px rgba($white, 0.25) inset, 0 -5px 5px rgba($black, 0.125) inset, 0 2px 3px rgba($gray-dark, 0.5)
  color $black
  display inline-block
  font-family inherit
  font-size inherit
  margin-left 10px
  padding 3px 20px
  text-decoration none
  text-shadow 0 1px $white

  &:first-child
    margin-left 0

  &:hover
    border-color rgba($black, 0.5)

  &.toggle
    border-radius 50%
    height 22px
    padding 0
    width 22px

    &.on
      box-shadow 0 2px 3px rgba($black, 0.33) inset, 0 0 5px rgba($orange, 0.67) inset
      color $orange

  &.default
    background $blue
    color $white
    text-shadow 0 1px rgba($black, 0.5)

    &:hover
      border-color rgba($black, 0.67)

  &:active
    box-shadow 0 1px 3px rgba($black, 0.33) inset

  &:disabled
    box-shadow none
    opacity: 0.5
