.dialog-underlay
  background vendor-value(radial-gradient(rgba($blacker, 0.5), rgba($black, .75)))
  bottom 0
  display none
  left 0
  position absolute
  right 0
  text-align center
  top 0
  vertical-align middle
  z-index 999

  &.open
    display block

  .dialog
    background $white
    border-radius 5px
    box-shadow 0 5px 10px rgba($blacker, 0.33)
    display inline-block
    max-width 600px
    position relative
    top 25%

    &.open
      display inline-block

    .dialog-closer
      border 1px solid $gray-dark
      border-radius 3px
      color $gray-dark
      display none
      height 13px
      line-height 0
      opacity 0.5
      position absolute
      right 5px
      top 5px
      width 13px

      &:hover
        opacity 1

    > header
      display none

    .dialog-content
      margin 20px

      p
        margin 20px 0

    > footer
      border-top 1px solid $gray-light
      font-size 13px
      padding 20px
      text-align center

      button
        standard-button()

    .dialog-arrow
      border 10px solid transparent
      position absolute
      margin: -10px 0 0 -10px

      &[data-direction="top"]
        border-bottom-color $white
        left 50%
        margin-top 0
        bottom 100%

      &[data-direction="right"]
        border-left-color $white
        left 100%
        margin-left 0
        top 50%

      &[data-direction="bottom"]
        border-top-color $white
        left 50%
        margin-top 0
        top 100%

      &[data-direction="left"]
        border-right-color $white
        right 100%
        margin-left 0
        top 50%

  &.popup,
  &.stats
    .dialog
      font-size 13px

      .dialog-closer
        display block

      > footer
        display none

  &.stats .dialog
    max-width 80%

    .dialog-content
      clearfix()
      text-align left

      > header
        border-bottom 1px solid $gray
        box-shadow 0 2px 0 #fff

        h2,
        p
          border-left 1px solid $gray
          display inline-block
          margin 0
          padding 0 20px 10px

          strong
            color $blue
            display block

        h2
          border-left 0
          color $blue
          font 30px $open-sans-condensed
          padding-bottom 0
          padding-left 0

      .column
        float left

      section
        margin 20px 20px 0 0

        &.path
          .map
            height 400px
            width 400px

      //   &.wind-speed
