.dialog-underlay
  background vendor-value(radial-gradient(rgba($black, 0.5), rgba($black, 0.75)))
  bottom 0
  display none
  left 0
  position absolute
  right 0
  text-align center
  top 0
  vertical-align middle
  z-index 999

  &.open
    display block

  .dialog
    background $white
    border-radius 5px
    box-shadow 0 5px 10px rgba($blacker, 0.33)
    display inline-block
    max-width 600px
    position relative
    top 25%

    &.open
      display inline-block

    header
      display none

    .content
      padding 20px

    footer
      border-top 1px solid $gray-light
      font-size 13px
      padding 20px
      text-align center

      button
        standard-button()

    .dialog-arrow
      border 10px solid transparent
      position absolute
      margin: -10px 0 0 -10px

      &[data-direction="top"]
        border-bottom-color $white
        left 50%
        margin-top 0
        bottom 100%

      &[data-direction="right"]
        border-left-color $white
        left 100%
        margin-left 0
        top 50%

      &[data-direction="bottom"]
        border-top-color $white
        left 50%
        margin-top 0
        top 100%

      &[data-direction="left"]
        border-right-color $white
        right 100%
        margin-left 0
        top 50%
