.storm-status
  background: #fff
  border: 1px solid #fff
  box-shadow: 0 3px 3px -3px #000
  color: #000
  display: inline-block
  margin-left: 20px

  .preview
    display: block
    max-width: 100%

  .progress
    .track
      background: #000
      height: 5px
      position: relative

      .fill
        background: green
        height: 100%
        left: 0
        position: absolute
        top: 0
        width: 50%

        .complete
          background: #000
          border-radius: 20px
          bottom: 10px
          color: #fff
          font-size: 10px
          font-weight: bold
          line-height: 1
          margin-right: -20px
          padding: 3px 5px
          position: absolute
          right: 0
          text-align: center
          width: 25px

          &:after
            border: 5px solid transparent
            border-top-color: black
            content: ""
            left: 50%
            margin-left: -5px
            position: absolute
            top: 100%

  .info
    padding: 5px

    .name
      font-weight: bold

    .year
      float: right

  .actions
    border-top: 1px solid #ccc
    display: table
    width: 100%

    .action
      border: 0
      border-left: 1px solid #ccc
      display: table-cell
      padding: 3px 0
      text-align: center
      text-decoration: none

      &:first-child
        border-left: 0

    button
      color: $blue
      font-size: 12px
      font-weight: bold
