#home
  full-size()
  background linear-gradient($black, transparent)
  color $white
  text-align center

  header
    position absolute
    top 20%
    width 100%

    h1
      img
        margin-bottom -50px
        max-width 100%

    p
      margin 1.5em 0

    a.classify
      standard-button()
      font-weight bold
      margin-top 25px
      padding 10px 30px
