@import "../node_modules/zooniverse/css/top-bar.css"
@import "../node_modules/zooniverse/css/dialog.css"

$blue = #027da9
$sans-serif = "Helvetica Neue", Arial, sans-serif

button
  background: transparent
  border: 0
  color: inherit
  cursor: pointer
  font: inherit
  margin: 0
  padding: 0
  text-shadow: inherit

  img
    max-width: 100%

@import "./layout"
@import "./classify"
