html
  background url("images/big-clouds.jpg") center bottom // TODO
  background-size cover
  font 16px "Open Sans", sans-serif
  height 100%
  position relative
  width 100%

body
  background transparent
  height 100%
  position relative
  width 100%

.stack
  & > *
    display none
  & > .active
    display block
