.dialog .zooniverse-login-form
  font-size 12px
  text-align center

  label
    display block
    margin 10px 0
    text-align left

    > span
      display inline-block
      width 10em

  button
    standard-button()

  .picker
    margin-top 10px
