@import "../node_modules/zooniverse/css/top-bar.css"
@import "../node_modules/zooniverse/css/dialog.css"
@import "../node_modules/zooniverse/css/footer.css"
@import "../node_modules/zooniverse/css/profile.css"
@import "../node_modules/zootorial/zootorial.css"
@import "../node_modules/zootorial/default-theme.css"
@import "../node_modules/slide-tutorial/slide-tutorial.css"

@import "./common"
@import "./layout"

@import "./home"
@import "./about"
@import "./profile"

@import "./classify"
@import "./tutorial"
@import "./slide-tutorial"
@import "./progress"
