.zooniverse-profile
  margin: 50px auto
  max-width: 1000px
  padding: 10px

  #greeting
    text-align: center
    font-size: 27px
    color: $orange

  .user-stats
    text-align: center
    font-size: 17px
    border-bottom: 1px solid rgba(0,0,0,.2)
    margin: 0 0 2em 0
    padding: 0 0 2em 0

    > *
      padding: 10px


  nav button,
  .zooniverse-paginator .controls button
    background: #505050
    border: 0
    border-radius: 4px
    box-shadow: none
    color: white
    cursor: pointer
    font-size: 14px
    margin: 0 8px 0 0
    padding: 5px 12px
    text-shadow: none
    outline: none

    &.active,
    &:hover
      background: $orange

  .zooniverse-paginator .controls button
    border-radius: 10px
    width: auto
