#profile
  .login-form
    panel()
    float right
    font-size 13px
    padding 30px 20px
    text-align center
    width 400px

    p
      margin-bottom 1em

    form
      display inline-block

      label
        display block
        margin-bottom 1em

        > span
          // There's a child input, which makes this kinda weird.
          display inline-block
          width 10em

      button
        standard-button()

    .picker
      margin-top 1em

      button
        border-bottom 1px solid $gray

    &.signed-in
      display none

      & + .panel
        display block

  .panel
    panel()
    display none
    float right
    text-align center

    header
      padding 20px

    .favorites
      border-top 1px solid $gray
      max-height 500px
      overflow-y auto
      padding 10px 20px 20px

      .none
        display none

      ul
        li
          clearfix()
          margin-top 10px
          position relative
          text-align left

          button[name="remove-favorite"]
            @standard-button()
            border-radius 50%
            display none
            height 16px
            padding 0
            position absolute
            left -5px
            top -5px
            width 16px

          button[name="reveal"]
            standardButton()

          img
            height 60px
            float left
            width 60px
            margin-right 10px

          .description
            font-size 13px
            float left

          &:hover button[name="remove-favorite"]
            display block

    .recents
      display none
