.classify .user-progress
  padding: 20px 0
  text-align: center
  width: 100%

  .container
    position: relative
    margin: 0 auto
    max-width: 500px
    padding: 0 5px
    background: #3B3B3B
    border-radius: 5px
    padding: 5px 10px
    font-weight: 300

  .progress-bar-container
    border-radius: 8px
    height: 10px
    background: #000
    margin: 10px 0
    position: relative

    &:before
      background: $blue
      border-radius: 8px
      content: ""
      height: 10px
      left: 0
      position: absolute
      top: 0
      width: 10px

    .progress-bar
      background: $orange
      border-radius: 8px
      height: 10px
      transition: all 1s ease-in-out
      width: 0

  button
    top: 0
    right: 0
    position: absolute
    background: transparent
    border: 0
    border-radius: 3px
    color: white
    cursor: pointer
