.slide-tutorial
  z-index: 100
  color: $dark-gray
  background: rgba(0, 0, 0, 0.8);
  button
    cursor: pointer
  .slide-tutorial-container
    border-radius: 5px
    .slide-tutorial-dots 
      .slide-tutorial-dot
        cursor: pointer
        &.active
          background: $orange
    .slide-tutorial-close-button
      background: transparent
      font-size: 16px
      color: #fff
      border: none
  .slide-tutorial-next-button
    @extend #_CLASSIFIER_BUTTON
    width: 150px
    font-size: 14px
  h1
    font-size: 30px
