.talk-posts
  .talk-post
    width: 100%
    overflow: auto
    margin-bottom: 5px
    padding: 15px
    display: table
    box-sizing: border-box

    &:hover
      background: #f2f2f2

    .talk-post-thumbnail
      max-width: 200px
      width: 100%
      border-radius: 50%
      float: left
      margin: 10px 10px 10px 0

    .talk-post-content
      overflow: auto
      padding: 10px 0 10px 20px
      display: table-cell
      vertical-align: middle
      width: 75%
      line-height: 1.5em
      font-size: 16px
      box-sizing: border-box
      color: $blue

      .talk-post-username
        color: #000

      .link-to-talk
        color: $orange
        margin: 7px 0 0 0

    a
      clearfix()
      color: $orange
      display: block
      font-size: 14px
