.tutorial.dialog-underlay
  .dialog
    transition left 0.25s ease-in-out, top 0.25s ease-in-out 0.1s
    z-index 999

    .dialog-closer
      display none

    > footer
      display block

  &.next-on-action
    .dialog > footer
      display none
